# --- Terraform ---
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan
.terraform/
.terraform.lock.hcl

# --- Python & Lambda Packaging ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.zip
*.tar.gz
dist/
build/

# --- Environment & Keys ---
.env
*.pem

# --- IDEs & OS Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db